# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node
node_modules

# Logs
logs
*.log

# Env
.env
.env.*
!.env.example

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store

# Local
*.local

# Design references
design
